In [2]:
# Supress Warnings
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
Base_PoP = pd.read_csv("D:\personal\MS\EDA\Census_91_01_11_pop.csv")

In [122]:
Base_PoP.head(n=10)

,District Name,Year,Male,Female,Total,Population Density,Sex Ratio,Literacy Rate
0,Nandurbar,1991,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.
1,Dhule,1991,1295288,1240427,2535715,352,958,51
2,Jalgaon,1991,1642873,1544761,3187634,271,940,64
3,Buldana,1991,966017,920282,1886299,195,953,62
4,Akola,1991,1142148,1072123,2214271,390,939,66
5,Washim,1991,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.
6,Amravati,1991,1136314,1063743,2200057,180,936,70
7,Wardha,1991,550370,516987,1067357,169,939,70
8,Nagpur,1991,1710404,1576735,3287139,332,922,74
9,Bhandara,1991,1060275,1047354,2107629,516,988,65

In [123]:
print(Base_PoP.info())
print(Base_PoP.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 8 columns):
District Name         105 non-null object
Year                  105 non-null int64
Male                  105 non-null object
Female                105 non-null object
Total                 105 non-null object
Population Density    105 non-null object
Sex Ratio             105 non-null object
Literacy Rate         105 non-null object
dtypes: int64(1), object(7)
memory usage: 6.6+ KB
None
Index(['District Name', 'Year', 'Male', 'Female', 'Total',
       'Population Density', 'Sex Ratio', 'Literacy Rate'],
      dtype='object')

In [124]:
convert_dict ={ i:int for i in Base_PoP.columns[2:]}

In [125]:
Base_PoP=Base_PoP.replace('N.A.', np.nan)
Base_PoP=Base_PoP.replace(np.nan, None)

In [126]:
Base_PoP=Base_PoP.fillna(0).astype(convert_dict)

In [127]:
Base_PoP.head(n=10)

,District Name,Year,Male,Female,Total,Population Density,Sex Ratio,Literacy Rate
0,Nandurbar,1991,0,0,0,0,0,0
1,Dhule,1991,1295288,1240427,2535715,352,958,51
2,Jalgaon,1991,1642873,1544761,3187634,271,940,64
3,Buldana,1991,966017,920282,1886299,195,953,62
4,Akola,1991,1142148,1072123,2214271,390,939,66
5,Washim,1991,1142148,1072123,2214271,390,939,66
6,Amravati,1991,1136314,1063743,2200057,180,936,70
7,Wardha,1991,550370,516987,1067357,169,939,70
8,Nagpur,1991,1710404,1576735,3287139,332,922,74
9,Bhandara,1991,1060275,1047354,2107629,516,988,65

In [128]:
(Base_PoP==0).sum()

District Name         0
Year                  0
Male                  1
Female                1
Total                 1
Population Density    1
Sex Ratio             1
Literacy Rate         1
dtype: int64

In [129]:
Base_PoP=Base_PoP[~(Base_PoP.Male==0)]

In [130]:
Base_PoP.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104 entries, 1 to 104
Data columns (total 8 columns):
District Name         104 non-null object
Year                  104 non-null int64
Male                  104 non-null int32
Female                104 non-null int32
Total                 104 non-null int32
Population Density    104 non-null int32
Sex Ratio             104 non-null int32
Literacy Rate         104 non-null int32
dtypes: int32(6), int64(1), object(1)
memory usage: 4.9+ KB

In [131]:
Base_PoP.head(n=10)

,District Name,Year,Male,Female,Total,Population Density,Sex Ratio,Literacy Rate
1,Dhule,1991,1295288,1240427,2535715,352,958,51
2,Jalgaon,1991,1642873,1544761,3187634,271,940,64
3,Buldana,1991,966017,920282,1886299,195,953,62
4,Akola,1991,1142148,1072123,2214271,390,939,66
5,Washim,1991,1142148,1072123,2214271,390,939,66
6,Amravati,1991,1136314,1063743,2200057,180,936,70
7,Wardha,1991,550370,516987,1067357,169,939,70
8,Nagpur,1991,1710404,1576735,3287139,332,922,74
9,Bhandara,1991,1060275,1047354,2107629,516,988,65
10,Gondiya,1991,1060275,1047354,2107629,516,988,65

In [132]:
def next_census(x):
    return x+10

In [133]:
Base_PoP['Year_lookup']=next_census(Base_PoP['Year'])

In [134]:
#Base_PoP_Bkp=Base_PoP

In [163]:
Base_PoP_Bkp.columns=['District_Name', 'Year', 'Male', 'Female', 'Total','Population_Density', 'Sex_Ratio', 'Literacy_Rate', 'Year_lookup']

In [164]:
Base_PoP=Base_PoP_Bkp

In [165]:
Base_PoP=Base_PoP.merge(Base_PoP,how='left', suffixes=('_curr', '_Fut'),left_on=['District_Name','Year_lookup'], right_on=['District_Name','Year'])

In [189]:
Base_PoP.head(n=10)

,District_Name,Year_curr,Male_curr,Female_curr,Total_curr,Population_Density_curr,Sex_Ratio_curr,Literacy_Rate_curr,Year_lookup_curr,Year_Fut,Male_Fut,Female_Fut,Total_Fut,Population_Density_Fut,Sex_Ratio_Fut,Literacy_Rate_Fut,Year_lookup_Fut
0,Dhule,1991,1295288,1240427,2535715,352,958,51,2001,2001.0,878372.0,829575.0,1707947.0,237.0,944.0,72.0,2011.0
1,Jalgaon,1991,1642873,1544761,3187634,271,940,64,2001,2001.0,1905493.0,1777197.0,3682690.0,313.0,933.0,75.0,2011.0
2,Buldana,1991,966017,920282,1886299,195,953,62,2001,2001.0,1147403.0,1085077.0,2232480.0,231.0,946.0,76.0,2011.0
3,Akola,1991,1142148,1072123,2214271,390,939,66,2001,2001.0,841253.0,788986.0,1630239.0,287.0,938.0,81.0,2011.0
4,Washim,1991,1142148,1072123,2214271,390,939,66,2001,2001.0,526094.0,494122.0,1020216.0,208.0,939.0,73.0,2011.0
5,Amravati,1991,1136314,1063743,2200057,180,936,70,2001,2001.0,1345614.0,1261546.0,2607160.0,214.0,938.0,83.0,2011.0
6,Wardha,1991,550370,516987,1067357,169,939,70,2001,2001.0,638990.0,597746.0,1236736.0,196.0,935.0,80.0,2011.0
7,Nagpur,1991,1710404,1576735,3287139,332,922,74,2001,2001.0,2105314.0,1962323.0,4067637.0,411.0,932.0,84.0,2011.0
8,Bhandara,1991,1060275,1047354,2107629,516,988,65,2001,2001.0,573445.0,562701.0,1136146.0,278.0,981.0,78.0,2011.0
9,Gondiya,1991,1060275,1047354,2107629,516,988,65,2001,2001.0,598834.0,601873.0,1200707.0,229.0,1005.0,79.0,2011.0

In [167]:
Base_PoP.columns

Index(['District_Name', 'Year_curr', 'Male_curr', 'Female_curr', 'Total_curr',
       'Population_Density_curr', 'Sex_Ratio_curr', 'Literacy_Rate_curr',
       'Year_lookup_curr', 'Year_Fut', 'Male_Fut', 'Female_Fut', 'Total_Fut',
       'Population_Density_Fut', 'Sex_Ratio_Fut', 'Literacy_Rate_Fut',
       'Year_lookup_Fut'],
      dtype='object')

In [168]:
col_name=Base_PoP_Bkp.columns[2:]
print(col_name)
['Base_PoP.'+str(i)+'_Diff ='+'Base_PoP.'+str(i)+'_Fut - '+'Base_PoP.'+str(i)+'_curr' for i in col_name]

Index(['Male', 'Female', 'Total', 'Population_Density', 'Sex_Ratio',
       'Literacy_Rate', 'Year_lookup'],
      dtype='object')

['Base_PoP.Male_Diff =Base_PoP.Male_Fut - Base_PoP.Male_curr',
 'Base_PoP.Female_Diff =Base_PoP.Female_Fut - Base_PoP.Female_curr',
 'Base_PoP.Total_Diff =Base_PoP.Total_Fut - Base_PoP.Total_curr',
 'Base_PoP.Population_Density_Diff =Base_PoP.Population_Density_Fut - Base_PoP.Population_Density_curr',
 'Base_PoP.Sex_Ratio_Diff =Base_PoP.Sex_Ratio_Fut - Base_PoP.Sex_Ratio_curr',
 'Base_PoP.Literacy_Rate_Diff =Base_PoP.Literacy_Rate_Fut - Base_PoP.Literacy_Rate_curr',
 'Base_PoP.Year_lookup_Diff =Base_PoP.Year_lookup_Fut - Base_PoP.Year_lookup_curr']

In [222]:
Base_PoP['Male_Diff'] =Base_PoP.Male_Fut - Base_PoP.Male_curr
Base_PoP['Female_Diff'] =Base_PoP.Female_Fut - Base_PoP.Female_curr
Base_PoP['Total_Diff'] =Base_PoP.Total_Fut - Base_PoP.Total_curr
Base_PoP['Population_Density_Diff'] =Base_PoP.Population_Density_Fut - Base_PoP.Population_Density_curr
Base_PoP['Sex_Ratio_Diff'] =Base_PoP.Sex_Ratio_Fut - Base_PoP.Sex_Ratio_curr
Base_PoP['Literacy_Rate_Diff'] =Base_PoP.Literacy_Rate_Fut - Base_PoP.Literacy_Rate_curr
Base_PoP['Year_lookup_Diff'] =Base_PoP.Year_lookup_Fut - Base_PoP.Year_lookup_curr

In [207]:
Year_range=pd.DataFrame(list(range(1991,2012)))
Year_range['Key']=0

In [223]:
Base_PoP.columns

Index(['District_Name', 'Year_curr', 'Male_curr', 'Female_curr', 'Total_curr',
       'Population_Density_curr', 'Sex_Ratio_curr', 'Literacy_Rate_curr',
       'Year_lookup_curr', 'Year_Fut', 'Male_Fut', 'Female_Fut', 'Total_Fut',
       'Population_Density_Fut', 'Sex_Ratio_Fut', 'Literacy_Rate_Fut',
       'Year_lookup_Fut', 'Male_Diff', 'Female_Diff', 'Total_Diff',
       'Population_Density_Diff', 'Sex_Ratio_Diff', 'Literacy_Rate_Diff',
       'Year_lookup_Diff'],
      dtype='object')

In [208]:
Names=pd.DataFrame(Base_PoP.District_Name)
Names['Key']=0

In [209]:
Year_range=Year_range.merge(Names, how='outer')

In [224]:
Base_PoP['Male_FDiff'] =Base_PoP.Male_Diff/10
Base_PoP['Female_FDiff'] =Base_PoP.Female_Diff/10
Base_PoP['Total_FDiff'] =Base_PoP.Total_Diff/10
Base_PoP['Population_Density_FDiff'] =Base_PoP.Population_Density_Diff/10
Base_PoP['Sex_Ratio_FDiff'] =Base_PoP.Sex_Ratio_Diff/10
Base_PoP['Literacy_Rate_FDiff'] =Base_PoP.Literacy_Rate_Diff/10
Base_PoP['Year_lookup_FDiff'] =Base_PoP.Year_lookup_Diff/10

In [211]:
Year_range.columns=['Year', 'Key', 'District_Name']

In [225]:
Base_PoP_ext=Year_range.merge(Base_PoP,how='left',left_on=['District_Name','Year'], right_on=['District_Name','Year_curr'])

In [234]:
Base_PoP_ext.drop_duplicates(keep = 'first', inplace = True)

In [235]:
Base_PoP_ext.head()

,Year,Key,District_Name,Year_curr,Male_curr,Female_curr,Total_curr,Population_Density_curr,Sex_Ratio_curr,Literacy_Rate_curr,...,Sex_Ratio_Diff,Literacy_Rate_Diff,Year_lookup_Diff,Male_FDiff,Female_FDiff,Total_FDiff,Population_Density_FDiff,Sex_Ratio_FDiff,Literacy_Rate_FDiff,Year_lookup_FDiff
24,1991,0,Ahmadnagar,1991.0,1730609.0,1642326.0,3372935.0,198.0,949.0,61.0,...,-9.0,14.0,10.0,35244.4,31526.3,66770.7,3.9,-0.9,1.4,1.0
128,1992,0,Ahmadnagar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,1993,0,Ahmadnagar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
336,1994,0,Ahmadnagar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
440,1995,0,Ahmadnagar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [213]:
def last_year(x):
    return x+1

In [244]:
Base_PoP_ext.sort_values(['District_Name', 'Year'],inplace=True,ascending=True)

In [238]:
Base_PoP_ext.set_index(['District_Name', 'Year'],inplace=True)

In [243]:
Base_PoP_ext.reset_index(inplace=True)

In [262]:
np.isnan(Base_PoP_ext.loc[3, 'Male_FDiff'])

True

In [263]:
for i in range(1, len(Base_PoP_ext)):
    if Base_PoP_ext.loc[i, 'District_Name']==Base_PoP_ext.loc[i-1, 'District_Name'] :
        Base_PoP_ext.loc[i, 'Male_curr'] = Base_PoP_ext.loc[i-1, 'Male_curr'] + Base_PoP_ext.loc[i-1, 'Male_FDiff']
        if np.isnan(Base_PoP_ext.loc[i, 'Male_FDiff']): 
            Base_PoP_ext.loc[i, 'Male_FDiff'] = Base_PoP_ext.loc[i-1, 'Male_FDiff']

In [266]:
Base_PoP_ext.head(n=12)

,District_Name,Year,Key,Year_curr,Male_curr,Female_curr,Total_curr,Population_Density_curr,Sex_Ratio_curr,Literacy_Rate_curr,...,Sex_Ratio_Diff,Literacy_Rate_Diff,Year_lookup_Diff,Male_FDiff,Female_FDiff,Total_FDiff,Population_Density_FDiff,Sex_Ratio_FDiff,Literacy_Rate_FDiff,Year_lookup_FDiff
0,Ahmadnagar,1991,0,1991.0,1730609.0,1642326.0,3372935.0,198.0,949.0,61.0,...,-9.0,14.0,10.0,35244.4,31526.3,66770.7,3.9,-0.9,1.4,1.0
1,Ahmadnagar,1992,0,NaN,1765853.4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,35244.4,NaN,NaN,NaN,NaN,NaN,NaN
2,Ahmadnagar,1993,0,NaN,1801097.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,35244.4,NaN,NaN,NaN,NaN,NaN,NaN
3,Ahmadnagar,1994,0,NaN,1836342.2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,35244.4,NaN,NaN,NaN,NaN,NaN,NaN
4,Ahmadnagar,1995,0,NaN,1871586.6,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,35244.4,NaN,NaN,NaN,NaN,NaN,NaN
5,Ahmadnagar,1996,0,NaN,1906831.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,35244.4,NaN,NaN,NaN,NaN,NaN,NaN
6,Ahmadnagar,1997,0,NaN,1942075.4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,35244.4,NaN,NaN,NaN,NaN,NaN,NaN
7,Ahmadnagar,1998,0,NaN,1977319.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,35244.4,NaN,NaN,NaN,NaN,NaN,NaN
8,Ahmadnagar,1999,0,NaN,2012564.2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,35244.4,NaN,NaN,NaN,NaN,NaN,NaN
9,Ahmadnagar,2000,0,NaN,2047808.6,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,35244.4,NaN,NaN,NaN,NaN,NaN,NaN
10,Ahmadnagar,2001,0,2001.0,2083053.0,1957589.0,4040642.0,237.0,940.0,75.0,...,-1.0,4.0,10.0,25977.2,24274.5,50251.7,2.9,-0.1,0.4,1.0
11,Ahmadnagar,2002,0,NaN,2109030.2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,25977.2,NaN,NaN,NaN,NaN,NaN,NaN

In [267]:
for i in range(1, len(Base_PoP_ext)):
    if Base_PoP_ext.loc[i, 'District_Name']==Base_PoP_ext.loc[i-1, 'District_Name'] :
        Base_PoP_ext.loc[i, 'Female_curr'] = Base_PoP_ext.loc[i-1, 'Female_curr'] + Base_PoP_ext.loc[i-1, 'Female_FDiff']
        if np.isnan(Base_PoP_ext.loc[i, 'Female_FDiff']): 
            Base_PoP_ext.loc[i, 'Female_FDiff'] = Base_PoP_ext.loc[i-1, 'Female_FDiff']

In [268]:
for i in range(1, len(Base_PoP_ext)):
    if Base_PoP_ext.loc[i, 'District_Name']==Base_PoP_ext.loc[i-1, 'District_Name'] :
        Base_PoP_ext.loc[i, 'Total_curr'] = Base_PoP_ext.loc[i-1, 'Total_curr'] + Base_PoP_ext.loc[i-1, 'Total_FDiff']
        if np.isnan(Base_PoP_ext.loc[i, 'Total_FDiff']): 
            Base_PoP_ext.loc[i, 'Total_FDiff'] = Base_PoP_ext.loc[i-1, 'Total_FDiff']

In [269]:
for i in range(1, len(Base_PoP_ext)):
    if Base_PoP_ext.loc[i, 'District_Name']==Base_PoP_ext.loc[i-1, 'District_Name'] :
        Base_PoP_ext.loc[i, 'Population_Density_curr'] = Base_PoP_ext.loc[i-1, 'Population_Density_curr'] + Base_PoP_ext.loc[i-1, 'Population_Density_FDiff']
        if np.isnan(Base_PoP_ext.loc[i, 'Population_Density_FDiff']): 
            Base_PoP_ext.loc[i, 'Population_Density_FDiff'] = Base_PoP_ext.loc[i-1, 'Population_Density_FDiff']

In [270]:
for i in range(1, len(Base_PoP_ext)):
    if Base_PoP_ext.loc[i, 'District_Name']==Base_PoP_ext.loc[i-1, 'District_Name'] :
        Base_PoP_ext.loc[i, 'Sex_Ratio_curr'] = Base_PoP_ext.loc[i-1, 'Sex_Ratio_curr'] + Base_PoP_ext.loc[i-1, 'Sex_Ratio_FDiff']
        if np.isnan(Base_PoP_ext.loc[i, 'Sex_Ratio_FDiff']): 
            Base_PoP_ext.loc[i, 'Sex_Ratio_FDiff'] = Base_PoP_ext.loc[i-1, 'Sex_Ratio_FDiff']

In [271]:
for i in range(1, len(Base_PoP_ext)):
    if Base_PoP_ext.loc[i, 'District_Name']==Base_PoP_ext.loc[i-1, 'District_Name'] :
        Base_PoP_ext.loc[i, 'Literacy_Rate_curr'] = Base_PoP_ext.loc[i-1, 'Literacy_Rate_curr'] + Base_PoP_ext.loc[i-1, 'Literacy_Rate_FDiff']
        if np.isnan(Base_PoP_ext.loc[i, 'Literacy_Rate_FDiff']): 
            Base_PoP_ext.loc[i, 'Literacy_Rate_FDiff'] = Base_PoP_ext.loc[i-1, 'Literacy_Rate_FDiff']

In [272]:
Base_PoP_ext.columns

Index(['District_Name', 'Year', 'Key', 'Year_curr', 'Male_curr', 'Female_curr',
       'Total_curr', 'Population_Density_curr', 'Sex_Ratio_curr',
       'Literacy_Rate_curr', 'Year_lookup_curr', 'Year_Fut', 'Male_Fut',
       'Female_Fut', 'Total_Fut', 'Population_Density_Fut', 'Sex_Ratio_Fut',
       'Literacy_Rate_Fut', 'Year_lookup_Fut', 'Male_Diff', 'Female_Diff',
       'Total_Diff', 'Population_Density_Diff', 'Sex_Ratio_Diff',
       'Literacy_Rate_Diff', 'Year_lookup_Diff', 'Male_FDiff', 'Female_FDiff',
       'Total_FDiff', 'Population_Density_FDiff', 'Sex_Ratio_FDiff',
       'Literacy_Rate_FDiff', 'Year_lookup_FDiff'],
      dtype='object')

In [273]:
Base_PoP_ext.head()

,District_Name,Year,Key,Year_curr,Male_curr,Female_curr,Total_curr,Population_Density_curr,Sex_Ratio_curr,Literacy_Rate_curr,...,Sex_Ratio_Diff,Literacy_Rate_Diff,Year_lookup_Diff,Male_FDiff,Female_FDiff,Total_FDiff,Population_Density_FDiff,Sex_Ratio_FDiff,Literacy_Rate_FDiff,Year_lookup_FDiff
0,Ahmadnagar,1991,0,1991.0,1730609.0,1642326.0,3372935.0,198.0,949.0,61.0,...,-9.0,14.0,10.0,35244.4,31526.3,66770.7,3.9,-0.9,1.4,1.0
1,Ahmadnagar,1992,0,NaN,1765853.4,1673852.3,3439705.7,201.9,948.1,62.4,...,NaN,NaN,NaN,35244.4,31526.3,66770.7,3.9,-0.9,1.4,NaN
2,Ahmadnagar,1993,0,NaN,1801097.8,1705378.6,3506476.4,205.8,947.2,63.8,...,NaN,NaN,NaN,35244.4,31526.3,66770.7,3.9,-0.9,1.4,NaN
3,Ahmadnagar,1994,0,NaN,1836342.2,1736904.9,3573247.1,209.7,946.3,65.2,...,NaN,NaN,NaN,35244.4,31526.3,66770.7,3.9,-0.9,1.4,NaN
4,Ahmadnagar,1995,0,NaN,1871586.6,1768431.2,3640017.8,213.6,945.4,66.6,...,NaN,NaN,NaN,35244.4,31526.3,66770.7,3.9,-0.9,1.4,NaN

In [274]:
Base_PoP_ext.tail()

,District_Name,Year,Key,Year_curr,Male_curr,Female_curr,Total_curr,Population_Density_curr,Sex_Ratio_curr,Literacy_Rate_curr,...,Sex_Ratio_Diff,Literacy_Rate_Diff,Year_lookup_Diff,Male_FDiff,Female_FDiff,Total_FDiff,Population_Density_FDiff,Sex_Ratio_FDiff,Literacy_Rate_FDiff,Year_lookup_FDiff
730,Yavatmal,2007,0,NaN,1358251.4,1288465.8,2646717.2,194.8,948.0,79.4,...,NaN,NaN,NaN,15428.4,15979.3,31407.7,2.3,1.0,0.9,NaN
731,Yavatmal,2008,0,NaN,1373679.8,1304445.1,2678124.9,197.1,949.0,80.3,...,NaN,NaN,NaN,15428.4,15979.3,31407.7,2.3,1.0,0.9,NaN
732,Yavatmal,2009,0,NaN,1389108.2,1320424.4,2709532.6,199.4,950.0,81.2,...,NaN,NaN,NaN,15428.4,15979.3,31407.7,2.3,1.0,0.9,NaN
733,Yavatmal,2010,0,NaN,1404536.6,1336403.7,2740940.3,201.7,951.0,82.1,...,NaN,NaN,NaN,15428.4,15979.3,31407.7,2.3,1.0,0.9,NaN
734,Yavatmal,2011,0,2011.0,1419965.0,1352383.0,2772348.0,204.0,952.0,83.0,...,NaN,NaN,NaN,15428.4,15979.3,31407.7,2.3,1.0,0.9,NaN

In [276]:
Base_PoP_ext.to_csv(path_or_buf ='D:\personal\MS\EDA\Popu_processed.csv')

In [16]:
Base_PoP_ext = pd.read_csv("C:\MS\EDA\Popu_processed.csv")

In [17]:
Base_PoP_ext.head(n=10)

,Unnamed: 0,District_Name,Year,Key,Year_curr,Male_curr,Female_curr,Total_curr,Population_Density_curr,Sex_Ratio_curr,...,Sex_Ratio_Diff,Literacy_Rate_Diff,Year_lookup_Diff,Male_FDiff,Female_FDiff,Total_FDiff,Population_Density_FDiff,Sex_Ratio_FDiff,Literacy_Rate_FDiff,Year_lookup_FDiff
0,0,Ahmadnagar,1991,0,1991.0,1730609.0,1642326.0,3372935.0,198.0,949.0,...,-9.0,14.0,10.0,35244.4,31526.3,66770.7,3.9,-0.9,1.4,1.0
1,1,Ahmadnagar,1992,0,NaN,1765853.4,1673852.3,3439705.7,201.9,948.1,...,NaN,NaN,NaN,35244.4,31526.3,66770.7,3.9,-0.9,1.4,NaN
2,2,Ahmadnagar,1993,0,NaN,1801097.8,1705378.6,3506476.4,205.8,947.2,...,NaN,NaN,NaN,35244.4,31526.3,66770.7,3.9,-0.9,1.4,NaN
3,3,Ahmadnagar,1994,0,NaN,1836342.2,1736904.9,3573247.1,209.7,946.3,...,NaN,NaN,NaN,35244.4,31526.3,66770.7,3.9,-0.9,1.4,NaN
4,4,Ahmadnagar,1995,0,NaN,1871586.6,1768431.2,3640017.8,213.6,945.4,...,NaN,NaN,NaN,35244.4,31526.3,66770.7,3.9,-0.9,1.4,NaN
5,5,Ahmadnagar,1996,0,NaN,1906831.0,1799957.5,3706788.5,217.5,944.5,...,NaN,NaN,NaN,35244.4,31526.3,66770.7,3.9,-0.9,1.4,NaN
6,6,Ahmadnagar,1997,0,NaN,1942075.4,1831483.8,3773559.2,221.4,943.6,...,NaN,NaN,NaN,35244.4,31526.3,66770.7,3.9,-0.9,1.4,NaN
7,7,Ahmadnagar,1998,0,NaN,1977319.8,1863010.1,3840329.9,225.3,942.7,...,NaN,NaN,NaN,35244.4,31526.3,66770.7,3.9,-0.9,1.4,NaN
8,8,Ahmadnagar,1999,0,NaN,2012564.2,1894536.4,3907100.6,229.2,941.8,...,NaN,NaN,NaN,35244.4,31526.3,66770.7,3.9,-0.9,1.4,NaN
9,9,Ahmadnagar,2000,0,NaN,2047808.6,1926062.7,3973871.3,233.1,940.9,...,NaN,NaN,NaN,35244.4,31526.3,66770.7,3.9,-0.9,1.4,NaN

In [18]:
Base_PoP_ext.head(n=2).to_string()

'   Unnamed: 0 District_Name  Year  Key  Year_curr  Male_curr  Female_curr  Total_curr  Population_Density_curr  Sex_Ratio_curr  Literacy_Rate_curr  Year_lookup_curr  Year_Fut   Male_Fut  Female_Fut  Total_Fut  Population_Density_Fut  Sex_Ratio_Fut  Literacy_Rate_Fut  Year_lookup_Fut  Male_Diff  Female_Diff  Total_Diff  Population_Density_Diff  Sex_Ratio_Diff  Literacy_Rate_Diff  Year_lookup_Diff  Male_FDiff  Female_FDiff  Total_FDiff  Population_Density_FDiff  Sex_Ratio_FDiff  Literacy_Rate_FDiff  Year_lookup_FDiff\n0           0    Ahmadnagar  1991    0     1991.0  1730609.0    1642326.0   3372935.0                    198.0           949.0                61.0            2001.0    2001.0  2083053.0   1957589.0  4040642.0                   237.0          940.0               75.0           2011.0   352444.0     315263.0    667707.0                     39.0            -9.0                14.0              10.0     35244.4       31526.3      66770.7                       3.9             -0.9                  1.4                1.0\n1           1    Ahmadnagar  1992    0        NaN  1765853.4    1673852.3   3439705.7                    201.9           948.1                62.4               NaN       NaN        NaN         NaN        NaN                     NaN            NaN                NaN              NaN        NaN          NaN         NaN                      NaN             NaN                 NaN               NaN     35244.4       31526.3      66770.7                       3.9             -0.9                  1.4                NaN'

In [19]:
Base_PoP_ext.columns

Index(['Unnamed: 0', 'District_Name', 'Year', 'Key', 'Year_curr', 'Male_curr',
       'Female_curr', 'Total_curr', 'Population_Density_curr',
       'Sex_Ratio_curr', 'Literacy_Rate_curr', 'Year_lookup_curr', 'Year_Fut',
       'Male_Fut', 'Female_Fut', 'Total_Fut', 'Population_Density_Fut',
       'Sex_Ratio_Fut', 'Literacy_Rate_Fut', 'Year_lookup_Fut', 'Male_Diff',
       'Female_Diff', 'Total_Diff', 'Population_Density_Diff',
       'Sex_Ratio_Diff', 'Literacy_Rate_Diff', 'Year_lookup_Diff',
       'Male_FDiff', 'Female_FDiff', 'Total_FDiff', 'Population_Density_FDiff',
       'Sex_Ratio_FDiff', 'Literacy_Rate_FDiff', 'Year_lookup_FDiff'],
      dtype='object')

In [20]:
Base_PoP_merge=Base_PoP_ext[['District_Name', 'Year',  'Male_curr', 'Female_curr','Total_curr', 'Population_Density_curr', 'Sex_Ratio_curr','Literacy_Rate_curr']]

In [21]:
Base_PoP_merge.columns=['District_Name', 'Year', 'Male', 'Female', 'Total','Population_Density', 'Sex_Ratio', 'Literacy_Rate']

In [22]:
Base_PoP_merge.head()

,District_Name,Year,Male,Female,Total,Population_Density,Sex_Ratio,Literacy_Rate
0,Ahmadnagar,1991,1730609.0,1642326.0,3372935.0,198.0,949.0,61.0
1,Ahmadnagar,1992,1765853.4,1673852.3,3439705.7,201.9,948.1,62.4
2,Ahmadnagar,1993,1801097.8,1705378.6,3506476.4,205.8,947.2,63.8
3,Ahmadnagar,1994,1836342.2,1736904.9,3573247.1,209.7,946.3,65.2
4,Ahmadnagar,1995,1871586.6,1768431.2,3640017.8,213.6,945.4,66.6

In [23]:
Base_PoP_merge['District_Name']=Base_PoP_merge['District_Name'].apply(lambda x: x.upper())

In [13]:
Base_Poll = pd.read_csv("C:\MS\EDA\YOY_P105090_all.csv")

In [14]:
Base_Poll.head()

,Unnamed: 0,City_Town_Village_Area,Type_of_Location,TS,year_number,month_number,NO2_Median,RSPM_PM10_Median,SO2_Median,SPM_Median,...,RSPM_PM10_Median_YOY_diff,SPM_Median_YOY_diff,NO2_P10_YOY_diff,SO2_P10_YOY_diff,RSPM_PM10_P10_YOY_diff,SPM_P10_YOY_diff,NO2_P90_YOY_diff,SO2_P90_YOY_diff,RSPM_PM10_P90_YOY_diff,SPM_P90_YOY_diff
0,0,Akola,Industrial,20110010,2011,1,12.0,149.0,11.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Akola,Industrial,20120010,2012,1,11.0,137.0,9.5,NaN,...,-12.0,NaN,-0.4,0.2,-0.331,NaN,-2.4,-1.6,-6.07,NaN
2,2,Akola,Industrial,20130010,2013,1,11.5,155.0,10.0,NaN,...,18.0,NaN,-1.1,-0.1,5.731,NaN,1.0,0.0,13.47,NaN
3,3,Akola,Industrial,20150010,2015,1,9.0,127.0,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Akola,Industrial,20110020,2011,2,11.0,143.0,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
Base_Poll['City_Town_Village_Area']=Base_Poll['City_Town_Village_Area'].apply(lambda x: x.upper())

In [25]:
Base_Poll.columns

Index(['Unnamed: 0', 'City_Town_Village_Area', 'Type_of_Location', 'TS',
       'year_number', 'month_number', 'NO2_Median', 'RSPM_PM10_Median',
       'SO2_Median', 'SPM_Median', 'Median_SO2_MOM_diff',
       'Median_NO2_MOM_diff', 'Median_RSPM_PM10_MOM_diff',
       'Median_SPM_MOM_diff', 'NO2_P10', 'RSPM_PM10_P10', 'SO2_P10', 'SPM_P10',
       'P10_NO2_MOM_diff', 'P10_SO2_MOM_diff', 'P10_RSPM_PM10_MOM_diff',
       'P10_SPM_MOM_diff', 'NO2_P90', 'RSPM_PM10_P90', 'SO2_P90', 'SPM_P90',
       'month_number_diff', 'P90_NO2_MOM_diff', 'P90_SO2_MOM_diff',
       'P90_RSPM_PM10_MOM_diff', 'P90_SPM_MOM_diff', 'year_number_diff',
       'NO2_Median_YOY_diff', 'SO2_Median_YOY_diff',
       'RSPM_PM10_Median_YOY_diff', 'SPM_Median_YOY_diff', 'NO2_P10_YOY_diff',
       'SO2_P10_YOY_diff', 'RSPM_PM10_P10_YOY_diff', 'SPM_P10_YOY_diff',
       'NO2_P90_YOY_diff', 'SO2_P90_YOY_diff', 'RSPM_PM10_P90_YOY_diff',
       'SPM_P90_YOY_diff'],
      dtype='object')

In [321]:
Base_Poll_Popu=pd.merge(Base_Poll, Base_PoP_merge, how='outer', left_on=['City_Town_Village_Area','year_number'], right_on=['District_Name','Year'],suffixes=('_Poll', '_Popu'))

In [314]:
Base_Poll_Popu=pd.DataFrame(Base_Poll_Popu)

In [322]:
print(Base_Poll_Popu.shape)
print(Base_Poll.shape)
print(Base_PoP_merge.shape)

(6302, 52)
(5715, 44)
(735, 8)

In [57]:
Base_Poll_Popu.to_csv(path_or_buf ='C:\MS\EDA\Base_Poll_Popu1.csv')

In [4]:
Base_Poll_Popu= pd.read_csv("C:\MS\EDA\Base_Poll_Popu.csv")

In [5]:
Base_Poll_Popu.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'City_Town_Village_Area',
       'Type_of_Location', 'TS', 'year_number', 'month_number', 'NO2_Median',
       'RSPM_PM10_Median', 'SO2_Median', 'SPM_Median', 'Median_SO2_MOM_diff',
       'Median_NO2_MOM_diff', 'Median_RSPM_PM10_MOM_diff',
       'Median_SPM_MOM_diff', 'NO2_P10', 'RSPM_PM10_P10', 'SO2_P10', 'SPM_P10',
       'P10_NO2_MOM_diff', 'P10_SO2_MOM_diff', 'P10_RSPM_PM10_MOM_diff',
       'P10_SPM_MOM_diff', 'NO2_P90', 'RSPM_PM10_P90', 'SO2_P90', 'SPM_P90',
       'month_number_diff', 'P90_NO2_MOM_diff', 'P90_SO2_MOM_diff',
       'P90_RSPM_PM10_MOM_diff', 'P90_SPM_MOM_diff', 'year_number_diff',
       'NO2_Median_YOY_diff', 'SO2_Median_YOY_diff',
       'RSPM_PM10_Median_YOY_diff', 'SPM_Median_YOY_diff', 'NO2_P10_YOY_diff',
       'SO2_P10_YOY_diff', 'RSPM_PM10_P10_YOY_diff', 'SPM_P10_YOY_diff',
       'NO2_P90_YOY_diff', 'SO2_P90_YOY_diff', 'RSPM_PM10_P90_YOY_diff',
       'SPM_P90_YOY_diff', 'District_Name', 'Year', 'Male', 'Female', 'Total',
       'Population_Density', 'Sex_Ratio', 'Literacy_Rate'],
      dtype='object')

In [6]:
poll_missing=Base_Poll_Popu[Base_Poll_Popu.City_Town_Village_Area.isnull()][['District_Name','Year']].groupby(['District_Name','Year']).count()

In [7]:
popu_missing=Base_Poll_Popu[Base_Poll_Popu.District_Name.isnull()][['City_Town_Village_Area','year_number']].groupby(['City_Town_Village_Area','year_number']).count()

In [ ]:
popu_missing.shape

In [145]:
popu_missing.reset_index(inplace=True)

In [147]:
popu_missing

     level_0  index City_Town_Village_Area  year_number       name_combo
0          0      0                  AKOLA         2012       AKOLA_2012
1          1      1                  AKOLA         2013       AKOLA_2013
2          2      2                  AKOLA         2014       AKOLA_2014
3          3      3                  AKOLA         2015       AKOLA_2015
4          4      4               AMRAVATI         2012    AMRAVATI_2012
5          5      5               AMRAVATI         2013    AMRAVATI_2013
6          6      6               AMRAVATI         2014    AMRAVATI_2014
7          7      7               AMRAVATI         2015    AMRAVATI_2015
8          8      8             AURANGABAD         2012  AURANGABAD_2012
9          9      9             AURANGABAD         2013  AURANGABAD_2013
10        10     10             AURANGABAD         2014  AURANGABAD_2014
11        11     11             AURANGABAD         2015  AURANGABAD_2015
12        12     12               BADLAPUR         2010    BADLAPUR_2010
13        13     13               BADLAPUR         2011    BADLAPUR_2011
14        14     14               BADLAPUR         2012    BADLAPUR_2012
15        15     15               BADLAPUR         2013    BADLAPUR_2013
16        16     16               BADLAPUR         2014    BADLAPUR_2014
17        17     17               BADLAPUR         2015    BADLAPUR_2015
18        18     18             CHANDRAPUR         2012  CHANDRAPUR_2012
19        19     19             CHANDRAPUR         2013  CHANDRAPUR_2013
20        20     20             CHANDRAPUR         2014  CHANDRAPUR_2014
21        21     21             CHANDRAPUR         2015  CHANDRAPUR_2015
22        22     22               DOMBIVLI         1994    DOMBIVLI_1994
23        23     23               DOMBIVLI         1995    DOMBIVLI_1995
24        24     24               DOMBIVLI         1996    DOMBIVLI_1996
25        25     25               DOMBIVLI         1997    DOMBIVLI_1997
26        26     26               DOMBIVLI         1998    DOMBIVLI_1998
27        27     27               DOMBIVLI         1999    DOMBIVLI_1999
28        28     28               DOMBIVLI         2000    DOMBIVLI_2000
29        29     29               DOMBIVLI         2012    DOMBIVLI_2012
..       ...    ...                    ...          ...              ...
95        95     95                   PUNE         1988        PUNE_1988
96        96     96                   PUNE         1989        PUNE_1989
97        97     97                   PUNE         1990        PUNE_1990
98        98     98                   PUNE         2012        PUNE_2012
99        99     99                   PUNE         2013        PUNE_2013
100      100    100                   PUNE         2014        PUNE_2014
101      101    101                   PUNE         2015        PUNE_2015
102      102    102                   ROHA         2010        ROHA_2010
103      103    103                   ROHA         2011        ROHA_2011
104      104    104                 SANGLI         2012      SANGLI_2012
105      105    105                 SANGLI         2013      SANGLI_2013
106      106    106                 SANGLI         2014      SANGLI_2014
107      107    107                 SANGLI         2015      SANGLI_2015
108      108    108                SOLAPUR         2012     SOLAPUR_2012
109      109    109                SOLAPUR         2013     SOLAPUR_2013
110      110    110                SOLAPUR         2014     SOLAPUR_2014
111      111    111                SOLAPUR         2015     SOLAPUR_2015
112      112    112                TARAPUR         2006     TARAPUR_2006
113      113    113                TARAPUR         2007     TARAPUR_2007
114      114    114                TARAPUR         2008     TARAPUR_2008
115      115    115                  THANE         2012       THANE_2012
116      116    116                  THANE         2013       THANE_2013
117      117    117                  THANE         2014       THANE_2014
118      118    118                  THANE         2015       THANE_2015
119      119    119             ULHASNAGAR         2010  ULHASNAGAR_2010
120      120    120             ULHASNAGAR         2011  ULHASNAGAR_2011
121      121    121             ULHASNAGAR         2012  ULHASNAGAR_2012
122      122    122             ULHASNAGAR         2013  ULHASNAGAR_2013
123      123    123             ULHASNAGAR         2014  ULHASNAGAR_2014
124      124    124             ULHASNAGAR         2015  ULHASNAGAR_2015

[125 rows x 5 columns]

In [146]:
popu_missing.shape

(125, 5)

In [ ]:
poll_missing.reset_index(inplace=True)

In [32]:
x=poll_missing.District_Name.unique()
y=Base_Poll.City_Town_Village_Area.unique()
removCitySet=list(set(x) - set(y))

In [48]:
Base_Poll_Popu.shape

(6302, 53)

In [50]:
Base_Poll_Popu=Base_Poll_Popu.loc[~(Base_Poll_Popu.District_Name.isin(removCitySet))  ]

In [53]:
x=Base_Poll_Popu.District_Name.unique()
list(set(x) - set(y))

[nan]

In [56]:
poll_missing=Base_Poll_Popu[Base_Poll_Popu.City_Town_Village_Area.isnull()][['District_Name','Year']].groupby(['District_Name','Year']).count()
poll_missing.reset_index(inplace=True)
x=poll_missing.District_Name.unique()
y=Base_Poll.City_Town_Village_Area.unique()
print(x)
removCitySet=list(set(x) - set(y))
removCitySet

['AKOLA' 'AMRAVATI' 'AURANGABAD' 'CHANDRAPUR' 'JALGAON' 'JALNA' 'KOLHAPUR'
 'LATUR' 'MUMBAI' 'NASHIK' 'PUNE' 'SANGLI' 'SOLAPUR' 'THANE']

[]

In [86]:
poll_missing.Year=poll_missing.Year.map(int)

In [87]:
poll_missing['name_combo']=poll_missing.District_Name+'_'+poll_missing.Year.map(str)

In [88]:
Base_Poll['city_combo']=Base_Poll.City_Town_Village_Area+'_'+Base_Poll.year_number.map(str)

In [89]:
Base_Poll.city_combo.head(n=1)

0    AKOLA_2011
Name: city_combo, dtype: object

In [90]:
poll_missing.name_combo.head(n=1)

0    AKOLA_1991
Name: name_combo, dtype: object

In [91]:
x=poll_missing.name_combo.unique()
y=Base_Poll.city_combo.unique()
print(x)
removCitySet=list(set(x) - set(y))
removCitySet

['AKOLA_1991' 'AKOLA_1992' 'AKOLA_1993' 'AKOLA_1994' 'AKOLA_1995'
 'AKOLA_1996' 'AKOLA_1997' 'AKOLA_1998' 'AKOLA_1999' 'AKOLA_2000'
 'AKOLA_2001' 'AKOLA_2002' 'AKOLA_2003' 'AKOLA_2004' 'AKOLA_2005'
 'AKOLA_2006' 'AKOLA_2007' 'AKOLA_2008' 'AKOLA_2009' 'AKOLA_2010'
 'AMRAVATI_1991' 'AMRAVATI_1992' 'AMRAVATI_1993' 'AMRAVATI_1994'
 'AMRAVATI_1995' 'AMRAVATI_1996' 'AMRAVATI_1997' 'AMRAVATI_1998'
 'AMRAVATI_1999' 'AMRAVATI_2000' 'AMRAVATI_2001' 'AMRAVATI_2002'
 'AMRAVATI_2003' 'AMRAVATI_2004' 'AMRAVATI_2005' 'AURANGABAD_1991'
 'AURANGABAD_1992' 'AURANGABAD_1995' 'AURANGABAD_1996' 'AURANGABAD_1997'
 'AURANGABAD_1998' 'AURANGABAD_1999' 'AURANGABAD_2000' 'AURANGABAD_2001'
 'AURANGABAD_2002' 'AURANGABAD_2003' 'AURANGABAD_2004' 'CHANDRAPUR_1991'
 'CHANDRAPUR_1993' 'CHANDRAPUR_1995' 'CHANDRAPUR_2003' 'CHANDRAPUR_2004'
 'JALGAON_1991' 'JALGAON_1992' 'JALGAON_1993' 'JALGAON_1994'
 'JALGAON_1995' 'JALGAON_1996' 'JALGAON_1997' 'JALGAON_1998'
 'JALGAON_1999' 'JALGAON_2000' 'JALGAON_2001' 'JALGAON_2002'
 'JALGAON_2003' 'JALGAON_2004' 'JALGAON_2005' 'JALGAON_2006'
 'JALGAON_2007' 'JALGAON_2008' 'JALGAON_2009' 'JALNA_1991' 'JALNA_1992'
 'JALNA_1993' 'JALNA_1994' 'JALNA_1995' 'JALNA_1996' 'JALNA_1997'
 'JALNA_1998' 'JALNA_1999' 'JALNA_2000' 'JALNA_2001' 'JALNA_2002'
 'JALNA_2003' 'JALNA_2004' 'JALNA_2005' 'JALNA_2006' 'JALNA_2007'
 'JALNA_2008' 'JALNA_2009' 'JALNA_2010' 'KOLHAPUR_1991' 'KOLHAPUR_1992'
 'KOLHAPUR_1993' 'KOLHAPUR_1994' 'KOLHAPUR_1995' 'KOLHAPUR_1996'
 'KOLHAPUR_1997' 'KOLHAPUR_1998' 'KOLHAPUR_1999' 'KOLHAPUR_2000'
 'KOLHAPUR_2001' 'KOLHAPUR_2002' 'KOLHAPUR_2003' 'KOLHAPUR_2004'
 'LATUR_1991' 'LATUR_1992' 'LATUR_1993' 'LATUR_1994' 'LATUR_1995'
 'LATUR_1996' 'LATUR_1997' 'LATUR_1998' 'LATUR_1999' 'LATUR_2000'
 'LATUR_2001' 'LATUR_2002' 'LATUR_2003' 'LATUR_2004' 'LATUR_2005'
 'LATUR_2006' 'LATUR_2007' 'LATUR_2008' 'LATUR_2009' 'MUMBAI_2003'
 'MUMBAI_2005' 'MUMBAI_2006' 'NASHIK_1991' 'NASHIK_1992' 'NASHIK_1993'
 'NASHIK_1995' 'NASHIK_2003' 'PUNE_2003' 'SANGLI_1991' 'SANGLI_1992'
 'SANGLI_1993' 'SANGLI_1994' 'SANGLI_1995' 'SANGLI_1996' 'SANGLI_1997'
 'SANGLI_1998' 'SANGLI_1999' 'SANGLI_2000' 'SANGLI_2001' 'SANGLI_2002'
 'SANGLI_2003' 'SANGLI_2004' 'SANGLI_2005' 'SANGLI_2006' 'SANGLI_2007'
 'SANGLI_2008' 'SANGLI_2009' 'SOLAPUR_1991' 'SOLAPUR_1992' 'SOLAPUR_1993'
 'SOLAPUR_1994' 'SOLAPUR_1995' 'SOLAPUR_1996' 'SOLAPUR_2003' 'THANE_1991'
 'THANE_1992' 'THANE_1993' 'THANE_1994' 'THANE_1995' 'THANE_1996'
 'THANE_1997' 'THANE_2003']

['JALNA_1996',
 'SOLAPUR_1996',
 'KOLHAPUR_1991',
 'SANGLI_2008',
 'SOLAPUR_1991',
 'LATUR_2003',
 'JALGAON_1992',
 'MUMBAI_2003',
 'CHANDRAPUR_1995',
 'KOLHAPUR_2003',
 'THANE_1991',
 'AKOLA_2008',
 'KOLHAPUR_1998',
 'JALGAON_2003',
 'AMRAVATI_1995',
 'THANE_2003',
 'MUMBAI_2006',
 'AURANGABAD_1996',
 'CHANDRAPUR_2004',
 'JALGAON_1998',
 'KOLHAPUR_1995',
 'JALNA_2006',
 'JALNA_1998',
 'AURANGABAD_1998',
 'LATUR_2004',
 'SANGLI_2006',
 'SANGLI_2004',
 'AKOLA_2007',
 'THANE_1993',
 'AMRAVATI_2004',
 'THANE_1995',
 'THANE_1997',
 'AMRAVATI_1998',
 'SANGLI_1995',
 'SANGLI_1992',
 'KOLHAPUR_2004',
 'AMRAVATI_2002',
 'JALNA_2005',
 'CHANDRAPUR_1991',
 'AKOLA_1997',
 'JALNA_1995',
 'AKOLA_2006',
 'KOLHAPUR_2000',
 'KOLHAPUR_2002',
 'AURANGABAD_2002',
 'AMRAVATI_1996',
 'JALGAON_2002',
 'LATUR_1997',
 'LATUR_1992',
 'AMRAVATI_2001',
 'THANE_1992',
 'AMRAVATI_2005',
 'JALNA_2010',
 'JALNA_1994',
 'SOLAPUR_1995',
 'JALGAON_1991',
 'SANGLI_1996',
 'AMRAVATI_1999',
 'SANGLI_2005',
 'LATUR_1991',
 'JALNA_1997',
 'AMRAVATI_2003',
 'AMRAVATI_1992',
 'SANGLI_1991',
 'THANE_1996',
 'JALNA_2004',
 'AKOLA_2003',
 'CHANDRAPUR_2003',
 'KOLHAPUR_1997',
 'SANGLI_2003',
 'SANGLI_2009',
 'THANE_1994',
 'JALGAON_1997',
 'SANGLI_2002',
 'AKOLA_1993',
 'AMRAVATI_1993',
 'AURANGABAD_2004',
 'AKOLA_2009',
 'AKOLA_1998',
 'AURANGABAD_1991',
 'AURANGABAD_2000',
 'SANGLI_1993',
 'CHANDRAPUR_1993',
 'JALGAON_2008',
 'AKOLA_1996',
 'LATUR_2007',
 'LATUR_2008',
 'LATUR_2006',
 'AURANGABAD_2001',
 'JALGAON_2004',
 'JALGAON_1996',
 'KOLHAPUR_2001',
 'SANGLI_1999',
 'LATUR_2000',
 'LATUR_1993',
 'AMRAVATI_1994',
 'JALGAON_2001',
 'SOLAPUR_2003',
 'SANGLI_2001',
 'NASHIK_1992',
 'NASHIK_1995',
 'AKOLA_2001',
 'AKOLA_2010',
 'JALNA_2007',
 'NASHIK_2003',
 'SOLAPUR_1994',
 'JALNA_2000',
 'LATUR_1994',
 'KOLHAPUR_1996',
 'SOLAPUR_1992',
 'SANGLI_1998',
 'LATUR_1999',
 'AKOLA_1999',
 'MUMBAI_2005',
 'AKOLA_2002',
 'JALGAON_2007',
 'LATUR_1996',
 'AURANGABAD_2003',
 'PUNE_2003',
 'LATUR_2001',
 'SANGLI_2007',
 'JALGAON_2000',
 'JALGAON_1999',
 'KOLHAPUR_1992',
 'NASHIK_1991',
 'AURANGABAD_1995',
 'KOLHAPUR_1993',
 'AKOLA_1995',
 'AKOLA_2005',
 'SOLAPUR_1993',
 'JALNA_1992',
 'LATUR_1998',
 'JALNA_2009',
 'JALNA_2002',
 'AKOLA_2004',
 'JALGAON_1994',
 'AURANGABAD_1999',
 'LATUR_1995',
 'LATUR_2002',
 'JALGAON_2005',
 'SANGLI_1994',
 'AKOLA_2000',
 'AKOLA_1992',
 'KOLHAPUR_1994',
 'AURANGABAD_1992',
 'JALNA_2003',
 'JALGAON_2006',
 'NASHIK_1993',
 'AMRAVATI_1997',
 'AMRAVATI_2000',
 'JALGAON_1995',
 'JALNA_2001',
 'JALNA_1991',
 'JALNA_1999',
 'SANGLI_1997',
 'KOLHAPUR_1999',
 'LATUR_2005',
 'JALGAON_2009',
 'AURANGABAD_1997',
 'JALNA_1993',
 'AMRAVATI_1991',
 'AKOLA_1994',
 'JALGAON_1993',
 'LATUR_2009',
 'AKOLA_1991',
 'SANGLI_2000',
 'JALNA_2008']

In [106]:
print(min(Base_Poll[Base_Poll.City_Town_Village_Area=='JALNA']['year_number']))333fine match
print(min(Base_Poll[Base_Poll.City_Town_Village_Area=='JALGAON']['year_number'])) ## match is fine 
print(min(Base_Poll[Base_Poll.City_Town_Village_Area=='LATUR']['year_number']))
print(min(Base_Poll[Base_Poll.City_Town_Village_Area=='NASHIK']['year_number']))##is 1995 missing

2011
2010
2010
1994

In [103]:
Base_Poll[(Base_Poll.City_Town_Village_Area=='JALGAON')&(Base_Poll.year_number==2010)]

,Unnamed: 0,City_Town_Village_Area,Type_of_Location,TS,year_number,month_number,NO2_Median,RSPM_PM10_Median,SO2_Median,SPM_Median,...,SPM_Median_YOY_diff,NO2_P10_YOY_diff,SO2_P10_YOY_diff,RSPM_PM10_P10_YOY_diff,SPM_P10_YOY_diff,NO2_P90_YOY_diff,SO2_P90_YOY_diff,RSPM_PM10_P90_YOY_diff,SPM_P90_YOY_diff,city_combo
1414,1414,JALGAON,Residential,20100010,2010,1,47.5,120.0,20.5,196.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JALGAON_2010
1420,1420,JALGAON,Residential,20100020,2010,2,47.5,121.5,17.0,170.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JALGAON_2010
1426,1426,JALGAON,Residential,20100030,2010,3,39.0,98.0,14.0,168.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JALGAON_2010
1432,1432,JALGAON,Residential,20100040,2010,4,40.0,111.0,13.0,172.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JALGAON_2010
1438,1438,JALGAON,Residential,20100050,2010,5,44.0,122.0,15.0,197.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JALGAON_2010
1444,1444,JALGAON,Residential,20100060,2010,6,42.0,119.0,15.0,196.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JALGAON_2010
1450,1450,JALGAON,Residential,20100070,2010,7,41.0,108.0,15.0,169.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JALGAON_2010
1456,1456,JALGAON,Residential,20100080,2010,8,41.0,112.5,15.0,178.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JALGAON_2010
1462,1462,JALGAON,Residential,20100090,2010,9,42.5,118.0,15.0,188.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JALGAON_2010
1468,1468,JALGAON,Residential,20100100,2010,10,41.0,116.5,15.0,222.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JALGAON_2010
1474,1474,JALGAON,Residential,20100110,2010,11,42.0,118.0,15.0,209.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JALGAON_2010
1480,1480,JALGAON,Residential,20100120,2010,12,43.5,132.0,17.0,248.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JALGAON_2010

In [104]:

Base_PoP_merge[(Base_PoP_merge.District_Name=='JALGAON')&(Base_PoP_merge.Year==2010)]

,District_Name,Year,Male,Female,Total,Population_Density,Sex_Ratio,Literacy_Rate
271,JALGAON,2010,2168177.8,2007016.5,4175194.3,355.3,925.8,77.7

In [105]:
Base_Poll_Popu[((Base_Poll_Popu.District_Name=='JALGAON')&(Base_Poll_Popu.Year==2010))|((Base_Poll_Popu.City_Town_Village_Area=='JALGAON')&(Base_Poll_Popu.year_number==2010))]

,Unnamed: 0,Unnamed: 0.1,City_Town_Village_Area,Type_of_Location,TS,year_number,month_number,NO2_Median,RSPM_PM10_Median,SO2_Median,...,RSPM_PM10_P90_YOY_diff,SPM_P90_YOY_diff,District_Name,Year,Male,Female,Total,Population_Density,Sex_Ratio,Literacy_Rate
1474,1474,1414.0,JALGAON,Residential,20100010.0,2010.0,1.0,47.5,120.0,20.5,...,NaN,NaN,JALGAON,2010.0,2168177.8,2007016.5,4175194.3,355.3,925.8,77.7
1475,1475,1420.0,JALGAON,Residential,20100020.0,2010.0,2.0,47.5,121.5,17.0,...,NaN,NaN,JALGAON,2010.0,2168177.8,2007016.5,4175194.3,355.3,925.8,77.7
1476,1476,1426.0,JALGAON,Residential,20100030.0,2010.0,3.0,39.0,98.0,14.0,...,NaN,NaN,JALGAON,2010.0,2168177.8,2007016.5,4175194.3,355.3,925.8,77.7
1477,1477,1432.0,JALGAON,Residential,20100040.0,2010.0,4.0,40.0,111.0,13.0,...,NaN,NaN,JALGAON,2010.0,2168177.8,2007016.5,4175194.3,355.3,925.8,77.7
1478,1478,1438.0,JALGAON,Residential,20100050.0,2010.0,5.0,44.0,122.0,15.0,...,NaN,NaN,JALGAON,2010.0,2168177.8,2007016.5,4175194.3,355.3,925.8,77.7
1479,1479,1444.0,JALGAON,Residential,20100060.0,2010.0,6.0,42.0,119.0,15.0,...,NaN,NaN,JALGAON,2010.0,2168177.8,2007016.5,4175194.3,355.3,925.8,77.7
1480,1480,1450.0,JALGAON,Residential,20100070.0,2010.0,7.0,41.0,108.0,15.0,...,NaN,NaN,JALGAON,2010.0,2168177.8,2007016.5,4175194.3,355.3,925.8,77.7
1481,1481,1456.0,JALGAON,Residential,20100080.0,2010.0,8.0,41.0,112.5,15.0,...,NaN,NaN,JALGAON,2010.0,2168177.8,2007016.5,4175194.3,355.3,925.8,77.7
1482,1482,1462.0,JALGAON,Residential,20100090.0,2010.0,9.0,42.5,118.0,15.0,...,NaN,NaN,JALGAON,2010.0,2168177.8,2007016.5,4175194.3,355.3,925.8,77.7
1483,1483,1468.0,JALGAON,Residential,20100100.0,2010.0,10.0,41.0,116.5,15.0,...,NaN,NaN,JALGAON,2010.0,2168177.8,2007016.5,4175194.3,355.3,925.8,77.7
1484,1484,1474.0,JALGAON,Residential,20100110.0,2010.0,11.0,42.0,118.0,15.0,...,NaN,NaN,JALGAON,2010.0,2168177.8,2007016.5,4175194.3,355.3,925.8,77.7
1485,1485,1480.0,JALGAON,Residential,20100120.0,2010.0,12.0,43.5,132.0,17.0,...,NaN,NaN,JALGAON,2010.0,2168177.8,2007016.5,4175194.3,355.3,925.8,77.7

In [ ]:
Base_Poll_Popu

In [ ]:
(Base_Poll.City_Town_Village_Area=='JALGAON')

In [109]:
Base_Poll_Popu=Base_Poll_Popu[~(Base_Poll_Popu.City_Town_Village_Area.isnull())]

In [110]:
Base_Poll_Popu.to_csv(path_or_buf ='C:\MS\EDA\Base_Poll_Popu_City_Town_Village_Area_present.csv')

In [ ]:
##Base_Poll_Popu=pd.merge(Base_Poll, Base_PoP_merge, how='outer', left_on=['City_Town_Village_Area','year_number'], right_on=['District_Name','Year'],suffixes=('_Poll', '_Popu'))

In [111]:
popu_missing=Base_Poll_Popu[Base_Poll_Popu.District_Name.isnull()][['City_Town_Village_Area','year_number']].groupby(['City_Town_Village_Area','year_number']).count()

In [116]:
popu_missing.reset_index(inplace=True)

In [127]:
popu_missing.year_number=popu_missing.year_number.map(int)

In [128]:
popu_missing['name_combo']=popu_missing.City_Town_Village_Area+'_'+popu_missing.year_number.map(str)
Base_PoP_merge['city_combo']=Base_PoP_merge.District_Name+'_'+Base_PoP_merge.Year.map(str)

In [134]:
Base_PoP_merge[Base_PoP_merge.city_combo=='MUMBAI_2015']

Empty DataFrame
Columns: [District_Name, Year, Male, Female, Total, Population_Density, Sex_Ratio, Literacy_Rate, city_combo]
Index: []

In [136]:
Base_PoP_merge[Base_PoP_merge.District_Name=='MUMBAI']

,District_Name,Year,Male,Female,Total,Population_Density,Sex_Ratio,Literacy_Rate,city_combo
336,MUMBAI,1991,5460145.0,4465746.0,9925891.0,63222.0,818.0,83.0,MUMBAI_1991
337,MUMBAI,1992,5101955.1,4165149.9,9267105.0,59025.9,813.9,83.3,MUMBAI_1992
338,MUMBAI,1993,4743765.2,3864553.8,8608319.0,54829.8,809.8,83.6,MUMBAI_1993
339,MUMBAI,1994,4385575.3,3563957.7,7949533.0,50633.7,805.7,83.9,MUMBAI_1994
340,MUMBAI,1995,4027385.4,3263361.6,7290747.0,46437.6,801.6,84.2,MUMBAI_1995
341,MUMBAI,1996,3669195.5,2962765.5,6631961.0,42241.5,797.5,84.5,MUMBAI_1996
342,MUMBAI,1997,3311005.6,2662169.4,5973175.0,38045.4,793.4,84.8,MUMBAI_1997
343,MUMBAI,1998,2952815.7,2361573.3,5314389.0,33849.3,789.3,85.1,MUMBAI_1998
344,MUMBAI,1999,2594625.8,2060977.2,4655603.0,29653.2,785.2,85.4,MUMBAI_1999
345,MUMBAI,2000,2236435.9,1760381.1,3996817.0,25457.1,781.1,85.7,MUMBAI_2000
346,MUMBAI,2001,1878246.0,1459785.0,3338031.0,21261.0,777.0,86.0,MUMBAI_2001
347,MUMBAI,2002,1858882.2,1453886.8,3312769.0,21100.1,782.5,86.3,MUMBAI_2002
348,MUMBAI,2003,1839518.4,1447988.6,3287507.0,20939.2,788.0,86.6,MUMBAI_2003
349,MUMBAI,2004,1820154.6,1442090.4,3262245.0,20778.3,793.5,86.9,MUMBAI_2004
350,MUMBAI,2005,1800790.8,1436192.2,3236983.0,20617.4,799.0,87.2,MUMBAI_2005
351,MUMBAI,2006,1781427.0,1430294.0,3211721.0,20456.5,804.5,87.5,MUMBAI_2006
352,MUMBAI,2007,1762063.2,1424395.8,3186459.0,20295.6,810.0,87.8,MUMBAI_2007
353,MUMBAI,2008,1742699.4,1418497.6,3161197.0,20134.7,815.5,88.1,MUMBAI_2008
354,MUMBAI,2009,1723335.6,1412599.4,3135935.0,19973.8,821.0,88.4,MUMBAI_2009
355,MUMBAI,2010,1703971.8,1406701.2,3110673.0,19812.9,826.5,88.7,MUMBAI_2010
356,MUMBAI,2011,1684608.0,1400803.0,3085411.0,19652.0,832.0,89.0,MUMBAI_2011

In [138]:
x=popu_missing.name_combo.unique()
y=Base_PoP_merge.city_combo.unique()
print(x)
removCitySet=list(set(x) - set(y))
removCitySet

['AKOLA_2012' 'AKOLA_2013' 'AKOLA_2014' 'AKOLA_2015' 'AMRAVATI_2012'
 'AMRAVATI_2013' 'AMRAVATI_2014' 'AMRAVATI_2015' 'AURANGABAD_2012'
 'AURANGABAD_2013' 'AURANGABAD_2014' 'AURANGABAD_2015' 'BADLAPUR_2010'
 'BADLAPUR_2011' 'BADLAPUR_2012' 'BADLAPUR_2013' 'BADLAPUR_2014'
 'BADLAPUR_2015' 'CHANDRAPUR_2012' 'CHANDRAPUR_2013' 'CHANDRAPUR_2014'
 'CHANDRAPUR_2015' 'DOMBIVLI_1994' 'DOMBIVLI_1995' 'DOMBIVLI_1996'
 'DOMBIVLI_1997' 'DOMBIVLI_1998' 'DOMBIVLI_1999' 'DOMBIVLI_2000'
 'DOMBIVLI_2012' 'DOMBIVLI_2013' 'DOMBIVLI_2014' 'DOMBIVLI_2015'
 'GREATER MUMBAI_2005' 'GREATER MUMBAI_2006' 'GREATER MUMBAI_2007'
 'GREATER MUMBAI_2008' 'JALGAON_2012' 'JALGAON_2013' 'JALGAON_2014'
 'JALGAON_2015' 'JALNA_2012' 'JALNA_2013' 'JALNA_2014' 'JALNA_2015'
 'KOLHAPUR_2012' 'KOLHAPUR_2013' 'KOLHAPUR_2014' 'KOLHAPUR_2015'
 'LATUR_2012' 'LATUR_2013' 'LATUR_2014' 'LATUR_2015' 'LOTE_2006'
 'LOTE_2007' 'LOTE_2008' 'LOTE_2010' 'LOTE_2011' 'LOTE_2012' 'LOTE_2013'
 'LOTE_2014' 'LOTE_2015' 'MAHAD_2009' 'MAHAD_2010' 'MAHAD_2011'
 'MUMBAI_1990' 'MUMBAI_2012' 'MUMBAI_2013' 'MUMBAI_2014' 'MUMBAI_2015'
 'NAGPUR_1990' 'NAGPUR_2012' 'NAGPUR_2013' 'NAGPUR_2014' 'NAGPUR_2015'
 'NANDED_2011' 'NANDED_2012' 'NANDED_2013' 'NANDED_2014' 'NANDED_2015'
 'NASHIK_2012' 'NASHIK_2013' 'NASHIK_2014' 'NASHIK_2015'
 'NAVI MUMBAI_2006' 'NAVI MUMBAI_2007' 'NAVI MUMBAI_2008'
 'NAVI MUMBAI_2009' 'NAVI MUMBAI_2010' 'NAVI MUMBAI_2011'
 'NAVI MUMBAI_2012' 'NAVI MUMBAI_2013' 'NAVI MUMBAI_2014'
 'NAVI MUMBAI_2015' 'PUNE_1987' 'PUNE_1988' 'PUNE_1989' 'PUNE_1990'
 'PUNE_2012' 'PUNE_2013' 'PUNE_2014' 'PUNE_2015' 'ROHA_2010' 'ROHA_2011'
 'SANGLI_2012' 'SANGLI_2013' 'SANGLI_2014' 'SANGLI_2015' 'SOLAPUR_2012'
 'SOLAPUR_2013' 'SOLAPUR_2014' 'SOLAPUR_2015' 'TARAPUR_2006'
 'TARAPUR_2007' 'TARAPUR_2008' 'THANE_2012' 'THANE_2013' 'THANE_2014'
 'THANE_2015' 'ULHASNAGAR_2010' 'ULHASNAGAR_2011' 'ULHASNAGAR_2012'
 'ULHASNAGAR_2013' 'ULHASNAGAR_2014' 'ULHASNAGAR_2015']

['DOMBIVLI_2000',
 'MUMBAI_2012',
 'JALNA_2013',
 'AMRAVATI_2015',
 'JALGAON_2014',
 'PUNE_2013',
 'JALNA_2012',
 'NASHIK_2012',
 'KOLHAPUR_2015',
 'NAVI MUMBAI_2015',
 'BADLAPUR_2013',
 'NASHIK_2015',
 'ROHA_2010',
 'AKOLA_2015',
 'MAHAD_2010',
 'NAVI MUMBAI_2011',
 'LOTE_2008',
 'BADLAPUR_2015',
 'JALNA_2015',
 'DOMBIVLI_1995',
 'LOTE_2013',
 'AKOLA_2014',
 'NAVI MUMBAI_2006',
 'MUMBAI_2015',
 'NANDED_2012',
 'MUMBAI_2013',
 'TARAPUR_2008',
 'NAVI MUMBAI_2007',
 'BADLAPUR_2010',
 'NANDED_2013',
 'ULHASNAGAR_2011',
 'PUNE_2012',
 'DOMBIVLI_2015',
 'CHANDRAPUR_2012',
 'ULHASNAGAR_2010',
 'NAVI MUMBAI_2008',
 'JALGAON_2012',
 'NAGPUR_2012',
 'NAVI MUMBAI_2013',
 'KOLHAPUR_2014',
 'AKOLA_2013',
 'LOTE_2006',
 'ROHA_2011',
 'NANDED_2014',
 'NAVI MUMBAI_2012',
 'PUNE_1990',
 'SOLAPUR_2015',
 'PUNE_1988',
 'CHANDRAPUR_2015',
 'LATUR_2012',
 'NAVI MUMBAI_2009',
 'BADLAPUR_2011',
 'PUNE_1989',
 'AURANGABAD_2014',
 'LOTE_2007',
 'GREATER MUMBAI_2005',
 'BADLAPUR_2014',
 'KOLHAPUR_2012',
 'MAHAD_2011',
 'ULHASNAGAR_2014',
 'CHANDRAPUR_2014',
 'GREATER MUMBAI_2007',
 'DOMBIVLI_1997',
 'PUNE_2014',
 'ULHASNAGAR_2013',
 'NASHIK_2013',
 'SANGLI_2012',
 'THANE_2013',
 'SANGLI_2013',
 'AMRAVATI_2013',
 'TARAPUR_2007',
 'TARAPUR_2006',
 'MUMBAI_2014',
 'LATUR_2015',
 'NAGPUR_2013',
 'BADLAPUR_2012',
 'GREATER MUMBAI_2006',
 'LOTE_2011',
 'ULHASNAGAR_2012',
 'PUNE_2015',
 'JALGAON_2013',
 'JALGAON_2015',
 'SANGLI_2015',
 'DOMBIVLI_1994',
 'DOMBIVLI_1998',
 'SOLAPUR_2014',
 'AURANGABAD_2013',
 'DOMBIVLI_2013',
 'NAVI MUMBAI_2010',
 'GREATER MUMBAI_2008',
 'AURANGABAD_2012',
 'SOLAPUR_2012',
 'NASHIK_2014',
 'AKOLA_2012',
 'LOTE_2010',
 'AURANGABAD_2015',
 'PUNE_1987',
 'LATUR_2013',
 'AMRAVATI_2012',
 'AMRAVATI_2014',
 'LOTE_2015',
 'NAGPUR_2015',
 'KOLHAPUR_2013',
 'NANDED_2015',
 'DOMBIVLI_2014',
 'THANE_2014',
 'NAGPUR_1990',
 'ULHASNAGAR_2015',
 'MAHAD_2009',
 'LOTE_2012',
 'LOTE_2014',
 'DOMBIVLI_1996',
 'NAGPUR_2014',
 'NAVI MUMBAI_2014',
 'MUMBAI_1990',
 'DOMBIVLI_2012',
 'LATUR_2014',
 'JALNA_2014',
 'CHANDRAPUR_2013',
 'SANGLI_2014',
 'NANDED_2011',
 'THANE_2015',
 'DOMBIVLI_1999',
 'THANE_2012',
 'SOLAPUR_2013']

In [139]:
Base_Poll_Popu[(Base_Poll_Popu.District_Name.isnull()) &(Base_Poll_Popu.year_number>2011)  ]
#1738

,Unnamed: 0,Unnamed: 0.1,City_Town_Village_Area,Type_of_Location,TS,year_number,month_number,NO2_Median,RSPM_PM10_Median,SO2_Median,...,RSPM_PM10_P90_YOY_diff,SPM_P90_YOY_diff,District_Name,Year,Male,Female,Total,Population_Density,Sex_Ratio,Literacy_Rate
24,24,1.0,AKOLA,Industrial,20120010.0,2012.0,1.0,11.0,137.000,9.5,...,-6.070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25,5.0,AKOLA,Industrial,20120020.0,2012.0,2.0,13.0,150.335,11.0,...,9.432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26,9.0,AKOLA,Industrial,20120030.0,2012.0,3.0,13.0,161.670,12.0,...,25.070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,27,12.0,AKOLA,Industrial,20120040.0,2012.0,4.0,11.5,150.670,10.5,...,-3.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,15.0,AKOLA,Industrial,20120050.0,2012.0,5.0,14.5,159.000,13.0,...,5.130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29,18.0,AKOLA,Industrial,20120060.0,2012.0,6.0,12.0,139.330,11.0,...,5.202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,30,21.0,AKOLA,Industrial,20120070.0,2012.0,7.0,11.0,125.000,9.0,...,12.270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,31,24.0,AKOLA,Industrial,20120080.0,2012.0,8.0,11.5,120.500,9.0,...,-8.701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,32,27.0,AKOLA,Industrial,20120090.0,2012.0,9.0,10.0,127.665,9.0,...,0.630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,33,31.0,AKOLA,Industrial,20120100.0,2012.0,10.0,9.5,134.330,8.5,...,-4.532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,34,35.0,AKOLA,Industrial,20120110.0,2012.0,11.0,12.0,146.330,10.0,...,-8.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,35,39.0,AKOLA,Industrial,20120120.0,2012.0,12.0,13.0,152.830,11.5,...,-4.097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,36,43.0,AKOLA,Residential,20120010.0,2012.0,1.0,9.0,135.000,8.0,...,42.330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,37,48.0,AKOLA,Residential,20120020.0,2012.0,2.0,9.5,135.000,7.5,...,40.335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,38,53.0,AKOLA,Residential,20120030.0,2012.0,3.0,10.0,140.000,8.0,...,45.398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,39,57.0,AKOLA,Residential,20120040.0,2012.0,4.0,9.0,148.670,8.0,...,42.830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,40,61.0,AKOLA,Residential,20120050.0,2012.0,5.0,10.0,134.500,9.0,...,41.030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,41,65.0,AKOLA,Residential,20120060.0,2012.0,6.0,9.0,136.000,8.0,...,42.470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,42,69.0,AKOLA,Residential,20120070.0,2012.0,7.0,8.0,120.000,7.0,...,35.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,43,73.0,AKOLA,Residential,20120080.0,2012.0,8.0,10.0,115.000,7.0,...,23.466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,44,77.0,AKOLA,Residential,20120090.0,2012.0,9.0,9.0,131.000,8.0,...,27.368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,45,82.0,AKOLA,Residential,20120100.0,2012.0,10.0,9.0,131.000,8.0,...,21.798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,46,87.0,AKOLA,Residential,20120110.0,2012.0,11.0,10.0,141.000,8.0,...,32.202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,47,92.0,AKOLA,Residential,20120120.0,2012.0,12.0,10.0,143.670,9.0,...,34.770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,48,2.0,AKOLA,Industrial,20130010.0,2013.0,1.0,11.5,155.000,10.0,...,13.470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,49,6.0,AKOLA,Industrial,20130020.0,2013.0,2.0,12.0,146.500,10.0,...,-6.932,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,50,25.0,AKOLA,Industrial,20130080.0,2013.0,8.0,8.0,121.000,7.0,...,-17.699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,51,28.0,AKOLA,Industrial,20130090.0,2013.0,9.0,8.0,122.000,7.0,...,-20.530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,52,32.0,AKOLA,Industrial,20130100.0,2013.0,10.0,8.0,125.500,7.5,...,-11.468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,53,36.0,AKOLA,Industrial,20130110.0,2013.0,11.0,7.0,130.000,6.0,...,-18.400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5685,5685,5682.0,ULHASNAGAR,Residential,20130070.0,2013.0,7.0,34.0,63.000,17.0,...,-30.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5686,5686,5688.0,ULHASNAGAR,Residential,20130080.0,2013.0,8.0,27.5,57.500,21.5,...,-49.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5687,5687,5694.0,ULHASNAGAR,Residential,20130090.0,2013.0,9.0,25.0,53.000,16.0,...,-59.300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5688,5688,5700.0,ULHASNAGAR,Residential,20130100.0,2013.0,10.0,24.0,53.000,21.0,...,-0.400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5689,5689,5706.0,ULHASNAGAR,Residential,20130110.0,2013.0,11.0,31.0,59.500,18.0,...,-52.100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5690,5690,5712.0,ULHASNAGAR,Residential,20130120.0,2013.0,12.0,33.0,68.000,17.0,...,-13.900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5691,5691,5647.0,ULHASNAGAR,Residential,20140010.0,2014.0,1.0,57.0,108.500,44.0,...,124.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5692,5692,5653.0,ULHASNAGAR,Residential,20140020.0,2014.0,2.0,56.5,107.500,40.0,...,71.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5693,5693,5659.0,ULHASNAGAR,Residential,20140030.0,2014.0,3.0,42.0,88.000,34.0,...,80.300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5694,5694,5665.0,ULHASNAGAR,Residential,20140040.0,2014.0,4.0,54.0,102.000,42.0,...,74.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5695,5695,5671.0,ULHASNAGAR,Residential,20140050.0,2014.0,5.0,48.0,92.000,41.0,...,67.100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5696,5696,5677.0,ULHASNAGAR,Residential,20140060.0,2014.0,6.0,59.5,113.000,33.0,...,77.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5697,5697,5683.0,ULHASNAGAR,Residential,20140070.0,2014.0,7.0,66.0,123.000,40.0,...,112.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5698,5698,5689.0,ULHASNAGAR,Residential,20140080.0,2014.0,8.0,39.0,79.000,16.0,...,38.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5699,5699,5695.0,ULHASNAGAR,Residential,20140090.0,2014.0,9.0,45.0,87.500,16.0,...,100.100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5700,5700,5701.0,ULHASNAGAR,Residential,20140100.0,2014.0,10.0,38.5,77.000,13.0,...,43.300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5701,5701,5707.0,ULHASNAGAR,Residential,20140110.0,2014.0,11.0,46.0,90.000,29.0,...,55.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5702,5702,5713.0,ULHASNAGAR,Residential,20140120.0,2014.0,12.0,39.0,81.000,14.0,...,-13.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5703,5703,5648.0,ULHASNAGAR,Residential,20150010.0,2015.0,1.0,41.5,82.000,13.5,...,-151.400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5704,5704,5654.0,ULHASNAGAR,Residential,20150020.0,2015.0,2.0,38.0,76.500,12.0,...,-65.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5705,5705,5660.0,ULHASNAGAR,Residential,20150030.0,2015.0,3.0,43.0,84.000,13.0,...,-70.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5706,5706,5666.0,ULHASNAGAR,Residential,20150040.0,2015.0,4.0,44.0,86.000,17.0,...,-41.400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5707,5707,5672.0,ULHASNAGAR,Residential,20150050.0,2015.0,5.0,56.0,82.000,23.0,...,-39.800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5708,5708,5678.0,ULHASNAGAR,Residential,20150060.0,2015.0,6.0,41.0,81.500,18.0,...,-69.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5709,5709,5684.0,ULHASNAGAR,Residential,20150070.0,2015.0,7.0,55.0,104.000,18.0,...,-78.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5710,5710,5690.0,ULHASNAGAR,Residential,20150080.0,2015.0,8.0,45.0,88.000,26.0,...,2.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5711,5711,5696.0,ULHASNAGAR,Residential,20150090.0,2015.0,9.0,53.5,105.000,26.5,...,-33.800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5712,5712,5702.0,ULHASNAGAR,Residential,20150100.0,2015.0,10.0,70.0,135.500,20.5,...,32.800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5713,5713,5708.0,ULHASNAGAR,Residential,20150110.0,2015.0,11.0,59.0,111.000,21.0,...,4.800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5714,5714,5714.0,ULHASNAGAR,Residential,20150120.0,2015.0,12.0,91.5,169.500,41.5,...,76.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [141]:
Base_Poll_Popu.District_Name.unique()

array(['AKOLA', nan, 'AMRAVATI', 'AURANGABAD', 'CHANDRAPUR', 'JALGAON',
       'JALNA', 'KOLHAPUR', 'LATUR', 'MUMBAI', 'NAGPUR', 'NASHIK', 'PUNE',
       'SANGLI', 'SOLAPUR', 'THANE'], dtype=object)

In [142]:
Base_Poll_Popu.City_Town_Village_Area.unique()

array(['AKOLA', 'AMRAVATI', 'AURANGABAD', 'BADLAPUR', 'CHANDRAPUR',
       'DOMBIVLI', 'GREATER MUMBAI', 'JALGAON', 'JALNA', 'KOLHAPUR',
       'LATUR', 'LOTE', 'MAHAD', 'MUMBAI', 'NAGPUR', 'NANDED', 'NASHIK',
       'NAVI MUMBAI', 'PUNE', 'ROHA', 'SANGLI', 'SOLAPUR', 'TARAPUR',
       'THANE', 'ULHASNAGAR'], dtype=object)

In [140]:
Base_Poll_Popu[(Base_Poll_Popu.District_Name.isnull()) &(Base_Poll_Popu.year_number<=2011)  ]
#735

,Unnamed: 0,Unnamed: 0.1,City_Town_Village_Area,Type_of_Location,TS,year_number,month_number,NO2_Median,RSPM_PM10_Median,SO2_Median,...,RSPM_PM10_P90_YOY_diff,SPM_P90_YOY_diff,District_Name,Year,Male,Female,Total,Population_Density,Sex_Ratio,Literacy_Rate
570,570,570.0,BADLAPUR,Industrial,20100010.0,2010.0,1.0,52.00,87.0,36.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
571,571,576.0,BADLAPUR,Industrial,20100020.0,2010.0,2.0,69.00,109.0,33.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
572,572,582.0,BADLAPUR,Industrial,20100030.0,2010.0,3.0,66.00,93.0,21.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
573,573,588.0,BADLAPUR,Industrial,20100040.0,2010.0,4.0,94.00,141.0,43.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
574,574,594.0,BADLAPUR,Industrial,20100050.0,2010.0,5.0,91.00,123.0,35.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
575,575,600.0,BADLAPUR,Industrial,20100060.0,2010.0,6.0,65.00,77.5,23.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
576,576,606.0,BADLAPUR,Industrial,20100070.0,2010.0,7.0,10.00,56.0,12.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
577,577,612.0,BADLAPUR,Industrial,20100080.0,2010.0,8.0,42.00,76.0,36.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
578,578,618.0,BADLAPUR,Industrial,20100090.0,2010.0,9.0,75.50,115.0,28.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
579,579,624.0,BADLAPUR,Industrial,20100100.0,2010.0,10.0,71.00,113.0,25.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
580,580,630.0,BADLAPUR,Industrial,20100110.0,2010.0,11.0,67.00,115.0,31.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
581,581,636.0,BADLAPUR,Industrial,20100120.0,2010.0,12.0,65.00,134.0,45.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
582,582,571.0,BADLAPUR,Industrial,20110010.0,2011.0,1.0,89.00,130.5,41.50,...,44.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
583,583,577.0,BADLAPUR,Industrial,20110020.0,2011.0,2.0,52.00,108.0,28.50,...,6.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
584,584,583.0,BADLAPUR,Industrial,20110030.0,2011.0,3.0,75.00,149.0,47.00,...,106.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
585,585,589.0,BADLAPUR,Industrial,20110040.0,2011.0,4.0,82.00,158.5,38.00,...,-29.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
586,586,595.0,BADLAPUR,Industrial,20110050.0,2011.0,5.0,84.00,167.0,61.00,...,17.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
587,587,601.0,BADLAPUR,Industrial,20110060.0,2011.0,6.0,47.00,73.5,26.00,...,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
588,588,607.0,BADLAPUR,Industrial,20110070.0,2011.0,7.0,67.50,84.0,35.00,...,-11.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
589,589,613.0,BADLAPUR,Industrial,20110080.0,2011.0,8.0,52.00,83.0,23.00,...,-32.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590,590,619.0,BADLAPUR,Industrial,20110090.0,2011.0,9.0,30.50,83.5,19.00,...,-41.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
591,591,625.0,BADLAPUR,Industrial,20110100.0,2011.0,10.0,80.00,110.5,43.50,...,19.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
592,592,631.0,BADLAPUR,Industrial,20110110.0,2011.0,11.0,72.50,110.5,37.50,...,-20.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
593,593,637.0,BADLAPUR,Industrial,20110120.0,2011.0,12.0,93.00,152.0,53.50,...,23.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1146,1146,1146.0,DOMBIVLI,Industrial,19950010.0,1995.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1147,1147,1188.0,DOMBIVLI,Industrial,19950060.0,1995.0,6.0,15.50,NaN,44.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1148,1148,1198.0,DOMBIVLI,Industrial,19950070.0,1995.0,7.0,16.20,NaN,24.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1149,1149,1206.0,DOMBIVLI,Industrial,19950080.0,1995.0,8.0,21.10,NaN,44.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1150,1150,1215.0,DOMBIVLI,Industrial,19950090.0,1995.0,9.0,42.90,NaN,40.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1151,1151,1224.0,DOMBIVLI,Industrial,19950100.0,1995.0,10.0,54.00,NaN,16.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5234,5234,5224.0,TARAPUR,Industrial,20080070.0,2008.0,7.0,44.40,79.5,35.25,...,8.6,22.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5235,5235,5227.0,TARAPUR,Industrial,20080080.0,2008.0,8.0,45.15,71.0,31.50,...,15.0,-51.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5236,5236,5230.0,TARAPUR,Industrial,20080090.0,2008.0,9.0,49.80,69.0,32.00,...,-9.2,23.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5237,5237,5233.0,TARAPUR,Industrial,20080100.0,2008.0,10.0,53.00,71.5,26.55,...,1.5,-5.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5238,5238,5236.0,TARAPUR,Industrial,20080110.0,2008.0,11.0,44.00,74.5,30.65,...,-51.9,-30.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5239,5239,5239.0,TARAPUR,Industrial,20080120.0,2008.0,12.0,53.30,75.0,35.30,...,-37.6,-44.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5643,5643,5643.0,ULHASNAGAR,Residential,20100010.0,2010.0,1.0,68.00,104.0,40.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5644,5644,5649.0,ULHASNAGAR,Residential,20100020.0,2010.0,2.0,87.00,118.0,23.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5645,5645,5655.0,ULHASNAGAR,Residential,20100030.0,2010.0,3.0,85.00,115.5,27.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5646,5646,5661.0,ULHASNAGAR,Residential,20100040.0,2010.0,4.0,76.50,110.5,31.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5647,5647,5667.0,ULHASNAGAR,Residential,20100050.0,2010.0,5.0,85.00,126.0,27.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5648,5648,5673.0,ULHASNAGAR,Residential,20100060.0,2010.0,6.0,59.00,89.0,24.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5649,5649,5679.0,ULHASNAGAR,Residential,20100070.0,2010.0,7.0,14.00,63.5,7.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5650,5650,5685.0,ULHASNAGAR,Residential,20100080.0,2010.0,8.0,41.00,71.0,20.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5651,5651,5691.0,ULHASNAGAR,Residential,20100090.0,2010.0,9.0,55.50,106.5,26.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5652,5652,5697.0,ULHASNAGAR,Residential,20100100.0,2010.0,10.0,68.00,114.0,26.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5653,5653,5703.0,ULHASNAGAR,Residential,20100110.0,2010.0,11.0,56.00,88.0,24.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5654,5654,5709.0,ULHASNAGAR,Residential,20100120.0,2010.0,12.0,71.00,123.5,42.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5655,5655,5644.0,ULHASNAGAR,Residential,20110010.0,2011.0,1.0,85.50,123.0,42.50,...,-29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5656,5656,5650.0,ULHASNAGAR,Residential,20110020.0,2011.0,2.0,79.00,115.0,48.00,...,-23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5657,5657,5656.0,ULHASNAGAR,Residential,20110030.0,2011.0,3.0,67.50,136.0,33.50,...,38.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5658,5658,5662.0,ULHASNAGAR,Residential,20110040.0,2011.0,4.0,88.00,170.5,36.00,...,70.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5659,5659,5668.0,ULHASNAGAR,Residential,20110050.0,2011.0,5.0,75.00,134.0,52.00,...,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5660,5660,5674.0,ULHASNAGAR,Residential,20110060.0,2011.0,6.0,56.50,74.5,31.00,...,13.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5661,5661,5680.0,ULHASNAGAR,Residential,20110070.0,2011.0,7.0,62.00,84.0,32.00,...,27.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5662,5662,5686.0,ULHASNAGAR,Residential,20110080.0,2011.0,8.0,49.50,86.0,21.00,...,-34.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5663,5663,5692.0,ULHASNAGAR,Residential,20110090.0,2011.0,9.0,45.00,96.0,26.00,...,-7.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5664,5664,5698.0,ULHASNAGAR,Residential,20110100.0,2011.0,10.0,68.00,100.0,30.50,...,16.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5665,5665,5704.0,ULHASNAGAR,Residential,20110110.0,2011.0,11.0,66.50,101.5,35.50,...,30.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5666,5666,5710.0,ULHASNAGAR,Residential,20110120.0,2011.0,12.0,79.00,131.0,40.00,...,21.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [143]:
Base_Poll_Popu.to_csv(path_or_buf ='C:\MS\EDA\Base_Poll_Popu_calculate_pop2011onwards.csv')